:root {
  --button-hover-bg: #0a2431;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../images/background.jpg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

header,
.container,
.slider,
.settings,
.grid,
.grid-container,
.grid-row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin: 3.2rem;
  gap: 0.8rem;
}

header,
.slider {
  flex-direction: column;
}

.slider {
  gap: 0.4rem;
}

.settings {
  gap: 1.6rem;
}

.settings .container {
  gap: 0.4rem;
}

.clear {
  background-color: azure;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
}

.clear:hover {
  background-color: var(--button-hover-bg);
  color: azure;
  cursor: pointer;
  outline: 2px solid azure;
  cursor: pointer;
}

.grid-container {
  flex-direction: column;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  cursor: crosshair;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  background: var(--button-hover-bg);
  height: 2px;
  padding: 0;
}

input[type="range"]:hover {
  outline: 2px solid azure;
  cursor: pointer;
}

input[type="color"] {
  border: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}

input[type="color"]:hover {
  outline: 2px solid azure;
  cursor: pointer;
}
